<IfModule mod_rewrite.c>
    RewriteEngine On

    # --- Purani /public/ URLs ko redirect karo ---
    RewriteCond %{THE_REQUEST} \s/public/([^\s?]*) [NC]
    RewriteRule ^public/(.*)$ https://socialit.us/$1 [R=301,L]

    # --- Saari request Laravel ke public folder me bhejo ---
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
